<h1>Editing administrator</h1>

<%= render 'form' %>

<%= link_to 'Show', @administrator %> |
<%= link_to 'Back', administrators_path %>
<%= link_to 'Change Password', edit_password_administrator_path(@administrator)%>

