<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @administrator.username %>
</p>

<% #Maybe a link to change password in here? %>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
